.title {
  font-weight: bold;
  color: #ec058c;
  margin-bottom: 1.5rem;
}

.title::after {
  display: block;
  content: "";
  width: 100px;
  padding-top: 5px;
  border-bottom: 7px solid #ec058c;
}

.description {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #777;
}

svg {
  width: 100%;
  height: auto;
}

svg * {
  transform-box: fill-box;
  transform-origin: center;
}